<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27279437235-o1rr6iqjir03e17obl9l1t6rtr7222db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27279437235-o1rr6iqjir03e17obl9l1t6rtr7222db</string>
	<key>API_KEY</key>
	<string>AIzaSyCUIakqmL0WpuJFXUm0scV1ndpen0__GOI</string>
	<key>GCM_SENDER_ID</key>
	<string>27279437235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.billy</string>
	<key>PROJECT_ID</key>
	<string>billyapp-a6321</string>
	<key>STORAGE_BUCKET</key>
	<string>billyapp-a6321.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27279437235:ios:583e324e4781b26bc4efc6</string>
</dict>
</plist>